html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

#status-area-background {
	height: 100%;
	min-height: 100%;
	padding: 1px;
}

#status-area {
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	min-height: 100%;
	padding: 1px;
}

#status-area-background {
	background: -webkit-gradient(linear, left top, left bottom, from(#37585E), to(#5F8086));
}

#status-area-background.default {
	opacity: 0.4;
}

#status-area-background.selected {
	opacity: 0.6;
}

#status-area > #icons {
	padding: 1px;
	margin-right: 2px;
	float: right;
}

#status-area > #icons > .icon {
	display: inline-block;
	overflow: hidden;
	width: 20px;
	min-width: 20px;
	height: 20px;
	min-height: 20px;
}

#status-area > #counter {
	margin-right: 0px;
	float: right;
	min-width: 18px;
	text-align: center;
	color: #37585E;
	text-shadow: 0px 1px 1px #000;
	font-size: 16px;
	font-family: Tahoma;
	font-weight: bold;
}

#status-area > #counter > .all {
	display: none;
	opacity: 0.5;
}

#status-area > #counter > .new {
	display: none;
	opacity: 1.0;
}