html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

#notification-icons {
	height: 100%;
	min-height: 100%;
	padding: 1px;
}

#notification-icons.default {
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
}

#notification-icons.selected {
	background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
}

#notification-icons > #icons {
	display: none;
	overflow: none;
	padding: 1px;
	margin-right: 2px;
	float: right;
}

#notification-icons > #counter {
	padding: 1px;
	margin-right: 2px;
	float: right;
	min-width: 18px;
	text-align: center;
	color: #000;
	text-shadow: 0px 0px 0px #000;
	font-size: 14px;
	font-family: Tahoma;
	font-weight: bold;
}

#notification-icons > #counter > .all {
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
	opacity: 0.4;
}

#notification-icons > #counter > .new {
	display: none;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
	opacity: 0.9;
}